/* ------------------------------------
 * Layout.css will allow us creating
 * easy structures using flexbox.
 * This file will replace lists.css
 * ------------------------------------ */

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  color: #333;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
  line-height: 22px
}

/* Horizontal layout */
.hbox {
  display: flex;
  flex-direction: row;
}

.hbox.left { justify-content: flex-start; }
.hbox.center { justify-content: center; }
.hbox.right { justify-content: flex-end; }
.hbox.top { align-items: flex-start; }
.hbox.middle { align-items: center; }
.hbox.bottom { align-items: flex-end; }

.hbox > .self-top { align-self: flex-start; }
.hbox > .self-middle { align-self: center; }
.hbox > .self-bottom { align-self: flex-end; }

/* Vertical layout */
.vbox {
  display: flex;
  flex-direction: column;
}

.vbox.left { align-items: flex-start; }
.vbox.center { align-items: center; }
.vbox.right { align-items: flex-end; }
.vbox.top { justify-content: flex-start; }
.vbox.middle { justify-content: center; }
.vbox.bottom { justify-content: flex-end; }

.vbox > .self-left { align-self: flex-start; }
.vbox > .self-center { align-self: center; }
.vbox > .self-right { align-self: flex-end; }

/*
 * Layout properties
 */

.fit {
  flex: 1;
}

.scroll {
  overflow: auto;
}

.fit.two   { flex: 2; }
.fit.three { flex: 3; }
.fit.four  { flex: 4; }
.fit.five  { flex: 5; }
.fit.six   { flex: 6; }

/*
 * Elements
 */

/* Lists */
.gaia-list {
  font-size: 18px;
}

.gaia-list li {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 40px;
  padding: 10px 15px;
}

.gaia-list li:after {
  position: absolute;
  content: "";
  right: 15px;
  top: 0;
  bottom: 0;
  left: 15px;
  border-bottom: 1px solid #e7e7e7;
  pointer-events: none;
}

.gaia-list li:last-of-type:after {
  display: none;
}

.gaia-list.active li:active,
.gaia-list li.active:active {
  background-color: rgba(0, 213, 255, 0.3);
}


.gaia-list li.vbox {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

/* List header */
.gaia-list header {
  padding: 0 30px;
  margin: 0;
  font-size: 16px;
  height: 30px;
  line-height: 40px;
  font-weight: normal;
  color: #ff4e00;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: #fff;
}

.gaia-list.sticky header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

/* List elements */
.gaia-list li p,
.gaia-list li label {
  margin-left: 15px;
}

.gaia-list li p:not(:first-of-type) {
  color: #858585;
  font-size: 15px;
  line-height: 20px;
}

.gaia-list li p em {
  font-size: 15px;
  font-style: normal;
}

.gaia-list li p time {
  margin-right: 3px;
  text-transform: uppercase;
}

.gaia-list label.pack-checkbox,
.gaia-list label.pack-radio,
.gaia-list label.pack-switch {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  height: auto;
  min-height: 40px;
  padding: 10px 0;
  margin: -10px 0 -10px 15px;
}

.gaia-list label.vbox.pack-checkbox,
.gaia-list label.vbox.pack-radio,
.gaia-list label.vbox.pack-switch {
  align-items: flex-start;
  justify-content: center;
}

.gaia-list label.pack-checkbox:not(.reverse) {
  padding-left: 30px;
  margin-left: 0;
}

.gaia-list label.pack-checkbox span:after {
  left: 10px;
}

.gaia-list label.pack-radio span:after,
.gaia-list label.pack-checkbox.reverse span:after,
.gaia-list label.pack-switch span:after {
  left: auto;
  right: 0;
}

.gaia-list label.pack-radio span,
.gaia-list label.pack-checkbox span,
.gaia-list label.pack-switch span,
.gaia-list label p {
  word-wrap: break-word;
  width: 100%;
}

.gaia-list label.pack-radio span,
.gaia-list label.pack-checkbox.reverse span,
.gaia-list label.pack-radio p,
.gaia-list label.pack-checkbox.reverse p {
  width: calc(100% - 30px);
}

.gaia-list label.pack-switch span,
.gaia-list label.pack-switch p {
  width: calc(100% - 70px);
}

.gaia-list label p {
  color: #858585;
  font-size: 15px;
  line-height: 20px;
  margin-left: 0;
}

.gaia-list li.icon {
  padding-left: 40px;
  background-position: 15px center;
  background-repeat: no-repeat;
  background-size: 30px;
}

.gaia-list [data-type=img],
.gaia-list li img {
  display: block;
  overflow: hidden;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-top: 5px;
  box-sizing: border-box;
  box-shadow: 0 0 0 1px #dedede;
  background: transparent center center / cover;
  position: relative;

  /* Favor performance over quality */
  image-rendering: -moz-crisp-edges;
}

.gaia-list li button,
.gaia-list li .button {
  margin: 0;
}

.gaia-list li button + button,
.gaia-list li p + button,
.gaia-list li p + .button,
.gaia-list li button + p,
.gaia-list li .button + p,
.gaia-list li label + button,
.gaia-list li label + .button {
  margin-top: 10px;
}

/* Footer */
.gaia-footer {
  width:100%;
  margin: auto;
  border-top: 1px solid #e7e7e7;
  background-color: #fff;
  padding: 10px 0px;
  display: block;
  text-align: center;
  
}

.gaia-footer p {
  margin: 0 15px 10px;
  word-break: break-all;
  text-align: center;
  color: #858585;
  font-size: 15px;
  line-height: 20px;
}

.gaia-footer button,
.gaia-footer .button {
  margin: 0 0 0 15px;
}

.gaia-footer button:first-of-type,
.gaia-footer .button:first-of-type {
  margin-left: 0;
}

/*
 * Skins
 */

.skin-comms .gaia-list header {
  color: #4997a7;
}

.skin-organic .gaia-list header {
  background-color: #e7e7e7;
  color: #4d4d4d;
  font-size: 15px;
  line-height: 34px;
  text-transform: none;
}

.carrot-flat-button {
  position: relative;
  vertical-align: top;
  width: 140px;
  height: 30px;
  padding: 0;
  font-size: 16px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #e67e22;
  border: 0;
  border-bottom: 2px solid #da751c;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #da751c;
  box-shadow: inset 0 -2px #da751c;
}
.carrot-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.peter-river-flat-button {
  position: relative;
  vertical-align: top;
  width: 140px;
  height: 30px;
  padding: 0;
  font-size: 16px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #3498db;
  border: 0;
  border-bottom: 2px solid #2a8bcc;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #2a8bcc;
  box-shadow: inset 0 -2px #2a8bcc;
}
.peter-river-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.searchform {
  border: 1px solid #CCC;
  color: #888;
  height: 20px;
  line-height:15px;
  margin-bottom: 16px;
  margin-right: 6px;
  margin-top: 2px;
  outline: 0 none;
  padding: 5px 0px 5px 5px;
  width: 70%;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;    
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}


#arret, #ligne, #direction { margin: 0px; padding: 0px 10px; font-weight: normal;}
#arret { font-size: 30px;}
#ligne { font-size: 20px;}
#direction { font-size: 16px;}
#favorite { display: inline-block; box-sizing: border-box; height: 30px; line-height: 26px; margin: 10px; padding: 0px 20px; border: 2px solid #f90; background: #f90; font-size: 14px; color: #fff; text-shadow: 1px 1px 3px #555;}
/*#favorite { height: 24px; line-height: 24px; padding: 10px; font-size: 14px;}
  #favorite img { display: inline-block; vertical-align: top; width: 24px; height: 24px;}
  #favorite span { display: inline-block; vertical-align: top; line-height: 18px; padding-top: 6px; padding-left: 10px; color: #d70;}
*/
.div_list {border-bottom: 1px solid #e7e7e7;min-height: 40px;padding: 10px 15px;}
.div_list a {text-decoration:none;color:#000}
.elem_dir {border-bottom: 1px solid #e7e7e7;min-height: 40px;padding: 10px 15px;}
.elem_dir a {text-decoration:none;color:#000}

.gaia-list { margin-top: 8px; border-top: 1px solid #ccc;}
  .gaia-list article { display: block; margin: auto; border-bottom: 1px solid #ccc; font-size: 0px;}
  .gaia-list .impair { }
  .gaia-list .pair { }
    .gaia-list article span { display: inline-block; vertical-align: top; box-sizing: border-box; line-height: 60px; font-size: 16px;}
    .gaia-list article .hour { width: 60px; border-right: 1px solid #ccc; text-align: center;}
    .gaia-list .impair .hour { background: #eaeaea;}
    .gaia-list .pair .hour { background: #f0f0f0;}
    .gaia-list article .min { width: calc(100% - 60px);}
    .gaia-list .impair .min { background: #fafafa;}
    .gaia-list .pair .min { background: #ffffff;}
       .gaia-list article span span { display: inline-block; width: 40px; height: 60px; line-height: 60px; margin: 0px; padding: 0px; border-right: 1px dashed #eaeaea; text-align: center; color: #777;}

